.contact-page {
    .text-zone {
        margin-top: 2%;
    }
}

.contact-form {
    width: 100%;
    margin-top: 20px;

    ul {
        padding: 0;
        margin: 0;

        .gradient-border {
            display: block;
            width: 100%;
            padding: 1px;
        }
        .gradient-border.send-btn {
            display: inline-block;
            width: fit-content;
        }
        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
        }
    }

    input[type="text"],
    input[type="email"] {
        width: 100%;
        border: none;
        outline: none;
        // background-color: #115173;
        background-color: #192a56;
        height: 50px;
        font-size: 16px;
        color: #9c88ff;
        padding: 0 20px;
        font-family: "sans-serif";
    }

    textarea {
        width: 100%;
        border: none;
        outline: none;
        background: #192a56;
        font-size: 16px;
        color: #9c88ff;
        padding: 20px;
        min-height: 150px;
        font-family: "sans-serif";
        resize: none;
    }
    .message.gradient-border {
        height: 152px;
    }
}

.info-map {
    position: absolute;
    background-color: rgba(53, 59, 72, 0.8);
    top: 0;
    right: 0;
    z-index: 999999;
    width: 200px;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 8px;

    .text-color {
        background: linear-gradient(45deg, #fbc531, #4cd137, #9c88ff, #c23616);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "Helvetica";
        font-size: 16px;
        font-weight: 600;
        opacity: 0;
        animation: fadeIn 1s 1.5s;
        animation-fill-mode: forwards;
    }
}

.map-wrap {
    position: relative;
    background-color: rgba(8, 253, 216, 0.1);
    height: 100%;
    border-radius: 10px;
}

.leaflet-container {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
}
.leaflet-popup-content-wrapper {
    background-color: #192a56 !important;
}
.leaflet-popup-content {
    background: linear-gradient(45deg, #fbc531, #4cd137, #9c88ff, #c23616);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Helvetica";
    font-size: 16px !important;
}
@media screen and (max-width: 640px) {
    .map-wrap {
        margin: 0 10px 20px;
        height: 400px;
    }
    .info-map {
        width: 150px;
        padding: 10px;

        .text-color {
            font-size: 12px;
        }
    }
}
