.home-page {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}

.heading {
    color: #9c88ff;
    font-size: 7rem;
    font-family: "Coolvetica";
    font-weight: 400;
    position: relative;

    &::before {
        content: "<h1>";
        font-family: "La Belle Aurore";
        color: #ffd700;
        font-size: 1.9rem;
        position: absolute;
        top: 0;
        left: -10px;
        transform: translate(-100%, 100%);
        opacity: 0.6;
    }

    &::after {
        content: "</h1>";
        font-family: "La Belle Aurore";
        color: #ffd700;
        font-size: 1.9rem;
        position: absolute;
        margin-top: 56px;
        margin-left: 20px;
        opacity: 0.8;
        animation: fadeIn 1s 1.7s backwards;
    }

    .F-letter {
        width: 40px;
        display: inline-block;
        margin-top: -35px;
        opacity: 0;
        animation: rotateIn 1s linear both;
        animation-delay: 1.7s;
        z-index: 5;
    }
}

@media screen and (max-width: 768px) {
    .home-page {
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .cube-container {
        min-height: 350px;
        padding: 120px;
    }
}
@media screen and (max-width: 640px) {
    .heading {
        width: fit-content;
        font-size: 3rem;
        margin-bottom: 20px;
        &::before {
            top: -40px;
            left: 25px;
            transform: translate(-100%, 100%);
        }

        &::after {
            bottom: -23px;
            right: 0;
        }
    }

    .cube-container {
        min-height: 250px;
        padding: 80px;
    }
}
