.home-page {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}

.heading {
    color: #fff;
    font-size: 7rem;
    font-family: "Coolvetica";
    font-weight: 400;
    position: relative;

    &::before {
        content: "<h1>";
        font-family: "La Belle Aurore";
        color: #ffd700;
        font-size: 1.9rem;
        position: absolute;
        top: 0;
        left: -10px;
        transform: translate(-100%, 100%);
        opacity: 0.6;
    }

    &::after {
        content: "</h1>";
        font-family: "La Belle Aurore";
        color: #ffd700;
        font-size: 1.9rem;
        position: absolute;
        margin-top: 56px;
        margin-left: 20px;
        opacity: 0.8;
        animation: fadeIn 1s 1.7s backwards;
    }

    .F-letter {
        width: 40px;
        display: inline-block;
        margin-top: -35px;
        opacity: 0;
        animation: rotateIn 1s linear both;
        animation-delay: 1.7s;
        z-index: 5;
    }
}

h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 15px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
}

@media screen and (max-width: 640px) {
    .home-page {
        grid-template-columns: 1fr;
    }

    .heading {
        font-size: 3rem;
        &::before {
            top: -20px;
            left: -10px;
            transform: translate(-100%, 100%);
        }

        &::after {
            margin-top: 20px;
            margin-left: 20px;
        }
    }
}
