.logo-container {
    width: 350px;
    height: max-content;
    position: absolute;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -35px;
    border-radius: 5px;

    .solid-logo {
        width: 100%;
        height: auto;
        border-radius: 50% 50% 5px 5px;
    }
}
.download-btn-con {
    text-align: right;
}
.download-btn {
    margin-right: 20px;
    outline: none;
    border: none;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    color: darkmagenta;
    background-color: darksalmon;
}
.download-btn:hover {
    background-color: coral;
}
