.app {
    min-width: 375px;
    max-width: 1350px;
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 60px 1fr;
}
.page {
    min-height: 100vh;
    color: #444;
    background-color: #022c43;
    position: relative;
}

.tags {
    color: #ffd700;
    opacity: 0.6;
    font-size: 18px;
    font-family: "La Belle Aurore";
    position: absolute;
}

.top-tags {
    top: 20px;
    left: 30px;
}

.bottom-tags {
    left: 30px;
    bottom: 25px;
}
.top-tag-html {
    top: 5px;
    left: 10px;
}
.bottom-tag-html {
    bottom: 5px;
    left: 10px;
}

.container {
    display: block;
    height: 100%;
    min-height: 566px;
    will-change: contents;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}
