.app {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 60px 1fr;
}
.page {
    min-height: 100vh;
    color: #444;
    background-color: #022c43;
}

.tags {
    color: #ffd700;
    opacity: 0.6;
    position: absolute;
    left: 120px;
    font-size: 18px;
    font-family: "La Belle Aurore";
}

.top-tags {
    top: 35px;
}

.bottom-tags {
    bottom: 25px;
}

.bottom-tag-html {
    bottom: 0;
    margin-left: -20px;
}

.container {
    height: 100%;
    // min-height: 566px;
    // will-change: contents;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}
