.skill-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
}

.tools-container {
    display: grid;
    column-gap: 90px;
}

.skill-container {
    grid-template-columns: repeat(2, 1fr);
}
.tools-container {
    grid-template-columns: repeat(2, 1fr);
}

.skills {
    color: #e1b12c;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    font-family: "Coolvetica";
    width: fit-content;
    border: 2px solid #fff;
    background-color: #192a56;
    border-radius: 50%;
    border-bottom: none;
    border-left: none;
    position: absolute;
    left: 50%;
    transform: translateX(-90%);
    z-index: 99;

    @media screen and (max-width: 450px) {
        font-size: 16px;
        padding: 5px 3px;
    }
}
/*=====================================
    Skill sec styles
======================================*/
.skill-sec {
    margin-top: 40px;
    .card {
        width: 45%;
        display: block;
        position: relative;

        &:nth-child(odd) {
            margin-left: auto;
            padding-bottom: 10px;
            margin-top: -30px;
        }

        &:nth-child(even) {
            margin-top: -45px;
        }

        &:nth-child(odd):before {
            content: "";
            position: absolute;
            right: 111.11%;
            top: 67%;
            transform: translate(50%, -50%);
            width: 20px;
            height: 20px;
            border: 5px solid #192a56;
            // background-color: #e1b12c;
            border-radius: 50%;
            z-index: 1;
        }

        &:nth-child(odd):after {
            content: "";
            position: absolute;
            left: -7.5%;
            top: 67%;
            transform: translateY(-50%);
            width: 6%;
            height: 2px;
            background: #d9d1d1;
        }

        &:nth-child(even):before {
            content: "";
            position: absolute;
            left: 111.11%;
            top: 76%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
            border: 5px solid #192a56;
            // background-color: #e1b12c;
            border-radius: 50%;
            z-index: 1;
        }
        &:nth-child(even):after {
            content: "";
            position: absolute;
            right: -7.5%;
            top: 76%;
            transform: translateY(-50%);
            width: 6%;
            height: 2px;
            background: #d9d1d1;
        }

        &:nth-child(odd) .card-body:before {
            content: "";
            position: absolute;
            right: 111.11%;
            top: 0;
            transform: translateX(50%);
            width: 0px;
            height: 100%;
            border: 1px dashed #fff;
        }
    }

    [data-aos="rotate-skill-right"] {
        opacity: 0;
        transform: rotateZ(90deg) translateX(60%) translateY(170%);
        transition-property: transform, opacity;

        &.aos-animate {
            opacity: 1;
            transform: rotateZ(0) translateX(0) translateY(0);
        }
    }

    [data-aos="rotate-skill-left"] {
        opacity: 0;
        transform: rotateZ(-90deg) translateX(-80%) translateY(180%);
        transition-property: transform, opacity;
        z-index: 99;

        &.aos-animate {
            opacity: 1;
            transform: rotateZ(0) translateX(0) translateY(0);
        }
    }
}

.front-end,
.back-end,
.tools {
    margin-left: 100px;

    .heading {
        width: fit-content;
        font-size: 4rem;
        font-family: "Coolvetica";
        color: #e1b12c;
        font-weight: 400;
        margin-bottom: 40px;
        position: relative;
        left: 10px;

        &::before {
            content: "<h1>";
            font-family: "La Belle Aurore";
            font-size: 1.9rem;
            position: absolute;
            top: 0px;
            opacity: 0.6;
            line-height: 0px;
        }

        &::after {
            content: "</h1>";
            font-family: "La Belle Aurore";
            font-size: 1.9rem;
            position: absolute;
            left: 100%;
            bottom: 0;
            opacity: 0.6;
            line-height: 0px;
        }
    }

    .text-animate-hover {
        &:hover {
            color: #9c88ff;
        }
    }
}

.skill-text {
    margin: 0 auto;
    width: fit-content;
    // background: linear-gradient(to right, #718093, #c23616, #fbc531);
    color: #fff;
    // background-clip: text;
    // -webkit-text-fill-color: transparent;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 999;
}

.bg-color {
    animation-name: progressbar;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    &:hover .tooltip {
        transform: rotate(360deg);
    }
}

.tooltip {
    display: inline-block;
    color: #fff;
    transition: 1s;

    &:hover {
        transform: rotate(360deg);
    }
}

@keyframes progressbar {
    from,
    to {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@media screen and (max-width: 950px) {
    .skill-page {
        grid-template-columns: 1fr;
    }
    .tools-container {
        grid-template-columns: 1fr;
        #tool-2 {
            display: none;
        }
        #tool-sec-2 {
            margin-top: -30px;
        }
    }
    .front-end,
    .back-end,
    .tools {
        margin-left: 60px !important;
    }
}

@media screen and (max-width: 495px) {
    .skill-container {
        grid-template-columns: 1fr;
    }
    .tools-container {
        grid-template-columns: 1fr;
    }

    .front-end,
    .back-end,
    .tools {
        margin-left: 40px !important;
        .heading {
            font-size: 3rem;

            &::after {
                left: 70%;
                bottom: -5px;
            }
        }
        .heading.w-fit {
            &::after {
                left: 20%;
                bottom: -5px;
            }
        }
    }
}
