.skill-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.front-end,
.back-end,
.tools {
    margin-left: 100px;

    .heading {
        width: fit-content;
        font-size: 4rem;
        font-family: "Coolvetica";
        color: #e1b12c;
        font-weight: 400;
        margin-bottom: 40px;
        position: relative;
        left: 10px;

        &::before {
            content: "<h1>";
            font-family: "La Belle Aurore";
            font-size: 1.9rem;
            position: absolute;
            top: 0px;
            opacity: 0.6;
            line-height: 0px;
        }

        &::after {
            content: "</h1>";
            font-family: "La Belle Aurore";
            font-size: 1.9rem;
            position: absolute;
            left: 100%;
            bottom: 0;
            opacity: 0.6;
            line-height: 0px;
        }
    }

    .text-animate-hover {
        &:hover {
            color: #9c88ff;
        }
    }
}
.skill-text {
    margin-left: auto;
    width: fit-content;
    // background: linear-gradient(to right, #4cd137, #c23616, #fbc531);
    background-color: #4cd137;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: bold;
    font-family: "Coolvetica";
}
.bg-color {
    animation-name: progressbar;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    animation-fill-mode: both;
}

.tooltip {
    display: inline-block;
    // background-color: transparent;
    color: #fbc531;
    animation-name: tooltip;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    animation-fill-mode: forwards;
    // span {
    //     background-color: #192a56;
    // }
}

@keyframes progressbar {
    from,
    to {
        width: 0;
        background: linear-gradient(to right, #4cd137, #487eb0, #fbc531);
    }
    80% {
        width: 100%;
    }
}

@keyframes tooltip {
    from,
    to {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(23deg);
    }
    40% {
        transform: rotate(-23deg);
    }
    60% {
        transform: rotate(23deg);
    }
    80% {
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 640px) {
    .skill-page {
        grid-template-columns: 1fr;
    }
    .front-end,
    .back-end,
    .tools {
        margin-left: 30px !important;
        .heading {
            font-size: 3rem;

            &::after {
                left: 70%;
                bottom: -5px;
            }
        }
        .heading.w-fit {
            &::after {
                left: 20%;
                bottom: -5px;
            }
        }
    }
}
